$font-weight1: 400;
// medium font-weight
$font-weight2: 500;
// semi-bold
$font-weight3: 600;
$font-weight4: 700;

$header-height: 3.5rem;

$first-color: hsla(228, 66%, 53%, 0.267);
$first-color-alt: hsl(228, 66%, 47%);
$first-color-light: hsl(228, 62%, 59%);
$first-color-lighten: hsl(228, 100%, 97%);

$second-color: hsl(25, 83%, 53%);

$title-color: hsl(228, 57%, 28%);
$text-color: hsl(228, 15%, 50%);
$text-color-light: hsl(228, 12%, 75%);

$border-color: hsl(228, 12%, 98%);
$body-color: #fff;
$container-color: #fff;

$biggest-font-size: 2.25rem;
$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1rem;

$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;



$z-tooltip: 10;
$z-fixed: 100;


@media screen and (max-width: 1024px) {
    $biggest-font-size: 4rem;
    $font-size-h1: 2.25rem;
    $font-size-h2: 1.5rem;
    $font-size-h3: 1.25rem;

    $normal-font-size: 1rem;
    $small-font-size: 0.875rem;
    $smaller-font-size: 0.813rem;
}


